{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="/auction/new" method="post">
            {% csrf_token %}
            <p>Title: {{ form.title }}</p>
            <p>Price: {{ form.price }}</p>
            <p>Image Link: {{ form.img_url }}</p>
            <p>Category: {{ form.category }}</p>
            <p>Description: {{ form.description }}</p>
            
            <input type="submit">
        </form>
    {% else %}
        Not signed in.
    {% endif %}


{% endblock %}