{% extends "auctions/layout.html" %}

{% block body %}
<div class="card">
    <div class="grid-container">
    <div class="grid-item">
            <li><img src="{{auction.img_url}}"></img></li>
            <div class="container">
            <li><a href="{% url 'show' auction.id %}"> {{ auction.title }} </a></li>
            <li>Created {{auction.created_date}}</li>

            <li>Category: {{auction.category}}</li>
            <li>Description: {{auction.description}}</li>
            {% if comments %}
                {% for comment in comments %}
                    <li>{{comment.user}} said {{comment.content}}</li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
Current Bid ${{auction.price}}
Highest Bidder: {{ highest_bidder.username }}
Number of bids: {{number_of_bids}}
        <!-- if signed in  -->
        <!-- listing closed -->
            <!-- highest bidder = winner -->
            <!-- display winner or "you" -->   
        {% if auction.closed %}
            {% if is_current_user_winner %}<!-- if the user is the winner display "you won!" -->
                <p>You Won!</p>
            {% else %}
                <p>Winner is {{ auction.winner }} </p>
            {% endif %}
        {% else %}
        <!-- listing open -->
            <!-- if signed in and auction.user_id = request.user_id -->
                <!-- close auction -->
            {% if user.is_authenticated %}
                {% if is_current_user_owner %}
                    <form action="{% url 'close' auction.id %}" method="post" class="EndAuctionForm">
                        {% csrf_token %}
                        End Auction? {{ end_auction.closed }}
                        <input type="submit" style="visibility: hidden;">
                    </form>
                {% else %}
            
                    <form action="/bid" method="post" class="bidForm">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {{ bid_form }}
                        <input type="submit" value="Bid" class="bid">
                    </form> 

                    <form action="/watchlist" method="post" class="WatchlistForm">
                        {% csrf_token %}
                        {{ wauction_form.as_p }}
                        <input type="submit" style="visibility: hidden;">
                    </form>

                    <form action="/comment" method="post" class="CommentForm">
                        {% csrf_token %}
                        Comment: {{ comment_form.content }}
                        {{comment_form.auction }}
                        {{comment_form.user }}
                        {{comment_form.errors}}
                        {{comment_form.non_field_errors}}
                        <input type="submit">
                    </form>

                {% endif %}   
            {% endif %}

        {% endif %}

            <!-- comment form -->

                <script type="text/javascript">  
                    $(function(){
                     $("#id_active").on('change',function(){
                        $('.WatchlistForm').submit();
                        });
                    });
                    $(function(){
                     $(".bid").on('change',function(){
                        $('.bidForm').submit();
                        });
                    });
                    $(function(){
                     $("#id_closed").on('change',function(){
                        $('.EndAuctionForm').submit();
                        });
                    });
                </script>
{% endblock %}